<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ 'education.title' | translate }}</h5>
    <div class="card-text">
      <div class="study-item" *ngFor="let study of 'education.list' | translate">
        <h5 class="study-title">{{study.title}}</h5>
        <small class="study-institute">{{study.institute}}</small>
        <small class="study-info">{{study.level}} | {{study.year}}</small>
        <div class="study-description text-justify">{{study.description}}</div>
      </div>
    </div>
  </div>
</div>
