<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ 'skills.title' | translate }}</h5>
    <div class="card-text text-justify">
      {{ 'skills.description' | translate }}
      <div class="flex-wrapper row">
        <div class="skills" *ngFor="let chart of 'skills.charts' | translate">
          <div class="skill-icon devicons" [ngClass]="chart.class" [innerHtml]="chart.icon"></div>
        </div>
      </div>
      <div class="workflow">
        <h5 class="card-subtitle mb-2 text-muted">{{ 'skills.workflow.title' | translate }}</h5>
        <ul class="workflow-items">
          <li class="list-item" *ngFor="let item of 'skills.workflow.items' | translate">
            <i class="fas fa-star"></i><span class="text-left">{{item}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
