<div class="container-fluid landing">
  <div class="row">
    <app-contact-component class="col-sm-12 col-md-5 col-lg-2 contact-component" (selectLanguage)="landscapeCore.selectLanguage($event)"
      [selectedLanguage]="landscapeCore.selectedLang$ | async" [availableLanguages]="landscapeCore.availableLanguages$ | async"></app-contact-component>
    <div class="col-sm-12 col-md-7 col-lg-10 resume-content">
      <app-profile class="profile-component"></app-profile>
      <app-skills class="skills-component"></app-skills>
      <app-work-experience class="work-component"></app-work-experience>
      <app-education class="education-component"></app-education>
    </div>
  </div>
</div>
